@import "../../../assets/styles/colors";

.container {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding-block: 7px;
  padding-inline: 31px;
  position: relative;
  border: 1px solid $essential-subdued;
  color: var($text-base, #000000);
  min-block-size: 48px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inline-size: 100%;
}

.container:hover {
  border: 1px solid white;
}
