@import "../../assets/styles/colors";

.container {
  width: 100%;
  border-radius: 8px;
  background-color: $background-highlight;
}

.container_children {
  height: calc(100vh - 170px);
  background: linear-gradient(rgb(32, 32, 32) 0%, rgba(0, 0, 0, 0.486) 100%);
}
