@import "../../../assets/styles/colors";

.container {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 500px;
  position: relative;
  transition: transform 0.1s;
}

.container:hover {
  transform: scale(1.1);
}

.content {
  color: $background-press;
}
.bg_green_spotify {
  background-color: $essential-positive;
}

.bg_white_spotify {
  background-color: white;
}

.bg_transparent_spotify {
  background-color: transparent;
  border: 1px solid $background-tinted-highlight;
}

.bg_transparent_spotify:hover {
  border: 1px solid white;
}
