@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  background-color: $background-base;
}

* {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  color: $text-base;
}
