@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  background-color: $background-base;
  color: $text-base;
}

* {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite; /* Repetir infinitamente */
  animation-iteration-count: infinite; /* Repetir infinitamente */
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
